.game-list-background {
  background-image: url('../images/GameList_background.PNG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.gradient-text {
  font-size: 28px;
  font-weight: bold;
  background: linear-gradient(90deg, #ff7f50, #ff1493);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

.scene {
  perspective: 1200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
}

.carousel {
  width: 220px;
  height: 500px;
  position: relative;
  transform-style: preserve-3d;
  animation: spin 20s infinite linear;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background-size: cover;
  background-position: center;
  border: 2px solid #fff;
  transform-origin: center;
  border-radius: 10px;
}

.game-title {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  width: 100%;
  font-size: 14px;
  color: white;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  font-weight: bold;
  color: white;
}
