.login-input {
  max-width: 25%; /* 최대 너비 설정 */
  width: 100%; /* 가로 길이를 부모 요소에 맞춤 */
  margin: auto; /* 가운데 정렬 */
}

/* Naver 로그인 버튼 스타일 */
.naver-login-button {
  background: url('/public/naver login.png') no-repeat center center;
  background-size: cover;
  width: 200px; /* 너비 설정 */
  height: 50px; /* 높이 설정 */
  border: none;
  cursor: pointer;
}
