.piano-background {
  background-image: url('/public/images/Piano_background.png');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.piano {
  display: flex;
  position: relative;
  height: 200px;
  margin: 0 auto;
}

.score-list {
  width: 300px;
}

.score-image {
  width: 600px;
  margin-top: 20px;
}

.score-image img {
  max-width: 600px;
  height: auto;
}

.piano-key {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 0 0 6px 6px;
  transition: background-color 0.1s ease-in-out;
}

.piano-key.white {
  width: 50px;
  height: 200px;
  background-color: #ffffff;
  color: #000;
  font-size: 22px;
  border: 1px solid #888;
  z-index: 0;
  margin-right: 1px;
  position: relative;
}

.piano-key.black {
  width: 35px;
  height: 125px;
  background-color: #000000;
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 0;
  z-index: 3;
  border: 1px solid white;
  border-radius: 0 0 4px 4px;
}

.piano-key span {
  position: absolute;
  bottom: 10px;
  font-size: 0.8em;
}

.piano-key--active {
  background-color: #00c2d6;
  transition: background-color 0.2s ease;
  border: 2px solid #00c2d6;
}

.piano-key--active.black {
  background-color: #008c9e;
  border: 2px solid #008c9e;
}

.piano-key--active.white {
  background-color: #00c2d6;
  border: 1px solid #3ac8da;
}

.controls {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls .waveform {
  margin-bottom: 20px;
}

.controls .waveform p {
  font-size: 1.5em;
}

.controls .waveform label {
  font-size: 1.5em;
}

.controls .gain {
  margin-top: 10px;
}

.controls .gain p {
  font-size: 1.5em;
}

.waveform label {
  font-size: 2em;
  margin-right: 20px;
}

.score-list h3 {
  font-size: 1.8em;
}

.score-list li {
  font-size: 1.4em;
  list-style: none;
  margin: 10px 0;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: background-color 0.2s, border-color 0.2s;
}

.score-list li.selected {
  border-color: #0072ff;
  color: white;
}

.piano-background input[type='checkbox'] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

.piano-background input[type='checkbox']:checked {
  background-color: #fff;
}
