.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 25px;
  width: 600px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border: 1px solid black;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal-content h2 {
  font-size: 32px;
  font-weight: 600;
  color: #333;
}

.modal-content label {
  font-size: 18px;
  font-weight: 500;
  color: #555;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.input-container {
  position: relative;
  width: 100%;
}

.mic-button {
  top: 60px;
  right: 15px;
  transform: translate(-50%);
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.mic-button:hover {
  background-color: #0056b3;
}

.cancel-button,
.save-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.cancel-button:hover,
.save-button:hover {
  background-color: #0056b3;
}

/* 제목 입력 필드 스타일 */
input[type='text'] {
  width: 100%;
  padding: 12px 60px 12px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 18px;
  transition: border-color 0.3s ease;
  height: auto;
}

input[type='text']:focus {
  border-color: #007bff;
}

/* 내용 입력 필드 스타일 */
textarea {
  width: 100%;
  padding: 12px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 18px;
  transition: border-color 0.3s ease;
  height: auto; /* 높이를 auto로 설정 */
  min-height: 120px; /* 내용 입력칸 크기를 크게 설정 */
  resize: none; /* 사용자가 입력칸 크기를 조정하지 못하게 설정 */
  line-height: 1.5; /* 줄 간격을 설정해 텍스트가 자연스럽게 보이게 설정 */
}

textarea:focus {
  border-color: #007bff;
}
